Repository wix/react-native-notifications, pull requests merged in 2020-09, with the labels that each got.

#674 Auto deploy documentation on master
  .github/documentation.yml
Labels: Documentation

#675 Fix documentation workflow
  .github/workflows/documentation.yml
  website/docs/api/android-api.md
  website/docs/api/general-api.md
  website/docs/api/general-events.md
  website/docs/api/ios-api.md
  website/docs/api/ios-events.md
  website/docs/api/notification-obj.md
  website/docs/docs/advanced-ios.md
  website/docs/docs/getting-started.md
  website/docs/docs/installation-android.md
  website/docs/docs/installation-ios.md
  website/docs/docs/localNotifications.md
  website/docs/docs/notifications-events.md
  website/docs/docs/subscription.md
  website/docusaurus.config.js
  website/sidebars.js
  website/static/img/favicon.ico
Labels: Documentation

#676 Bump detox to v17.5.7
  package.json
Labels: infrastructure

#673 Bump docusaurus to 2.0.0-alpha.64
  website/package.json
Labels: type: accepted/enhancement

#678 [Bugfix][Android] Use JobServiceIntent to fetch the FCM token in the background
  lib/android/app/src/main/AndroidManifest.xml
  lib/android/app/src/main/java/com/wix/reactnativenotifications/RNNotificationsModule.java
  lib/android/app/src/main/java/com/wix/reactnativenotifications/fcm/FcmInstanceIdRefreshHandlerService.java
Labels: Android, type: accepted/bug

#672 Fix Xcode 12 Compatibility
  react-native-notifications.podspec
Labels: iOS, type: accepted/bug
